<section class="edit-user-section mt-5">
  <div *ngIf="userInfo">
    <h2>Edit {{ userInfo.username }} account details</h2>
    <div class="form-group">
      <h4>Role: {{ userInfo.roles }}</h4>
    </div>
    <form #editUserForm="ngForm" (ngSubmit)="updateUser(editUserForm)">
      <div class="form-group">
        <label for="username">Username:</label>
        <input
          class="form-control"
          type="text"
          id="username"
          [(ngModel)]="userInfo.username"
          name="username"
        />
      </div>
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input
          class="form-control"
          type="text"
          id="firstName"
          [(ngModel)]="userInfo.firstName"
          name="firstName"
        />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input
          class="form-control"
          type="text"
          id="lastName"
          [(ngModel)]="userInfo.lastName"
          name="lastName"
        />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          [(ngModel)]="userInfo.email"
          name="email"
        />
      </div>
      <div class="form-group">
        <label for="oldPassword">Old Password:</label>
        <input
          type="password"
          class="form-control"
          id="oldPassword"
          ngModel
          name="oldPassword"
        />
      </div>
      <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input
          type="password"
          class="form-control"
          id="newPassword"
          ngModel
          name="newPassword"
        />
      </div>
      <button type="submit">Save</button>
    </form>
  </div>
</section>
