<section class="about-section">
  <div class="about-main">
    <h2 id="about-text">About</h2>
    <h3>Welcome to Vinland Store</h3>
    <p>
      Your one-stop shop for all things intriguing, thought-provoking, and
      occasionally absurd. Think of us as the Craig Jones of online
      content—always the <i>2nd best</i>, but somehow way more entertaining.
    </p>
    <h3>What We Do At Vinland Store</h3>
    <p>
      We specialize in serving up a delightful mix of
      <b>blogs, discussions, and random musings</b> on whatever the author finds
      interesting. Whether it's deep dives into obscure historical events, hot
      takes on the latest trends in tech, or just a little bit of humor, we've
      got you covered.
    </p>
    <h3>Why Vinland Store?</h3>
    <ul>
      <li>
        <i>Craig Jones Approved</i>: While we can't claim to be the best (that
        title's taken), we’re proud to be the 2nd best at what we do—just like
        Craig. And let’s be honest, being 2nd means we’re still pretty darn
        good.
      </li>
      <li>
        <i>No Boring Stuff</i>: We promise to keep things fresh,
        thought-provoking, and occasionally ridiculous.
      </li>
    </ul>
    <div>
      <figure>
        <img
          src="assets/owner.webp"
          alt="c_jones"
          width="50%"
          style="margin: auto"
        />
        <figcaption>Craig Jones (2nd best grappler in the world)</figcaption>
      </figure>
    </div>
    <div id="disclaimers">
      <h3>Disclaimers:</h3>
      <p>
        While we are affiliated with several organizations, and we list them as
        “supporting” Overcoming Bias, none have paid us to blog, and none
        necessarily endorse any views expressed here. We’ve never sold ads or
        access in any way. Copyright is retained by each author. Finally, all
        views expressed here are ours, not those of George Mason University or
        the Commonwealth of Virginia.
      </p>
    </div>
    <div id="comments">
      <h3>Comments:</h3>
      <p>
        Anyone can comment here, but spam and trollers may be removed or banned.
        Comments should be polite, on topic, short (< 500 words), and sparing
        with quotations (links are ok). Don’t repeat your own comments word for
        word. We have Open Threads once a month for general discussion; longer
        comments are acceptable there. Commenting frequency: A good rule of
        thumb is that your name should not appear more than two times in the 10
        most recent comments, as shown on the right sidebar. Three times is
        acceptable on rare occasions. Four times, never. Post authors are of
        course excepted. To help us enforce this, we ask that you only use one
        name when commenting here.
      </p>
    </div>
  </div>
</section>
