<div *ngIf="errorMessage" class="alert alert-danger" id="error-message">
  {{ errorMessage }}
</div>
<div class="container mt-5">
  <h3 class="text-center">Read Our Discussions</h3>
  <section>
    <div class="control-buttons">
      <button (click)="loadLatestBlogs()">Latest</button>
      <button (click)="loadTopBlogs()">Top</button>
    </div>
    <div class="blogs">
      <div class="blogs-list">
        <div *ngFor="let blog of blogs" class="blog-item">
          <div class="blog-text">
            <h2>
              <a [routerLink]="['/archive', blog.id]">{{ blog.title }}</a>
            </h2>
            <p>{{ blog.slug }}</p>
            <p>Views: {{ blog.viewCount }}</p>
            <div class="blog-info">
              <span>{{ blog.createdAt | dateFormat }}</span>
              <span>•</span>
              <span>{{ blog.author }}</span>
            </div>
          </div>
          <img src="article1.jpg" alt="text" />
        </div>
      </div>
    </div>
  </section>
  <mat-paginator
    [length]="totalElements"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 20, 50]"
    (page)="handlePageEvent($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
