<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <img
        id="logo"
        src="assets/vinland_full_cut.webp"
        alt="logo"
        width="55"
        height="auto"
      />
      <a routerLink="/" class="navbar-brand">Vinland Store</a>
      <div id="right-side-action-buttons">
        <div class="search-icon">
          <!-- <button type="button" style="outline: none"> -->
          <img
            src="https://img.icons8.com/ios/50/search--v1.png"
            alt="Search"
            class="static-icon"
          />
          <img
            src="assets/animated-search-icon.gif"
            alt="Search"
            class="animated-icon"
          />
          <!-- </button> -->
        </div>
        <div>
          <button>Upgrade to paid</button>
        </div>
        <div>
          <a *ngIf="!loggedIn" routerLinkActive="active" routerLink="sign-in"
            >Sign In</a
          >
        </div>
        <div>
          <a *ngIf="!loggedIn" routerLinkActive="active" routerLink="sign-up"
            >Sign Up</a
          >
        </div>
        <div *ngIf="loggedIn" class="logged-in-user">
          <div>
            <a routerLinkActive="active" routerLink="account">
              <img
                src="assets/viking-icon.webp"
                alt="icon"
                width="30"
                height="30"
              />
            </a>
          </div>
          <div>
            <button type="button" (click)="logout()">Log Out</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
