<main>
  <!-- For Home component -->
  <div id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a
          routerLink="/"
          routerLinkActive="active"
          class="nav-link active"
          aria-current="page"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="archive"
          routerLinkActive="active"
          class="nav-link active"
          aria-current="page"
          >Archieve</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="about"
          routerLinkActive="active"
          class="nav-link active"
          aria-current="page"
          >About</a
        >
      </li>
    </ul>
  </div>
  <!-- <section class="featured">
      <img src="featured-image.jpg" alt="Featured" />
      <div class="featured-text">
        <h1>Placeholder for a Featured Blog</h1>
        <p>some text</p>
        <span>date - author</span>
      </div>
    </section> -->

  <section class="content">
    <div class="main-content">
      <app-blogs></app-blogs>
    </div>
    <div class="container mt-5">
      <div class="subscription-box">
        <h3>Vinland Store</h3>
        <p>This is a blog on why we believe and do what we do...</p>
        <div class="input-group mb-3">
          <span class="input-group-text">&#64;</span>
          <div class="form-floating">
            <input
              type="email"
              class="form-control"
              id="floatingInputGroup"
              placeholder="Type your email..."
            />
            <label for="floatingInputGroup">Email</label>
          </div>
        </div>
        <button>Subscribe</button>
      </div>
    </div>
  </section>
</main>
